@page
@model MadisonCountySystem.Pages.Collabs.PlanStepTableModel
@{
    ViewData["Title"] = "Plan Step List";
}

@if (Model.ActionType == "Delete")
{
    <div style="position:fixed; top:0; left:0; width:100%; height:100%; background-color:rgba(0,0,0,0.4);">
        <form method="post">
            <div style="background-color:#fff; margin:10% auto; padding:20px; width:50%; max-width: 500px; border-radius: 10px; box-shadow: 0 4px 8px rgba(0,0,0,0.1);">
                <p>Are you sure you want to delete @Model.SelectedStep.PlanStepName?</p>
                <div class="text-center mt-4">
                    <button asp-page="PlanStepTable" asp-page-handler="DeleteRecord" class="btn btn-outline-success mr-2" style="margin-right: 10px;">Yes, Delete</button>
                    <button asp-page="PlanStepTable" asp-page-handler="Close" class="btn btn-outline-danger">No, Go Back</button>
                </div>
            </div>
        </form>
    </div>
}

<style type="text/css">
    thead {
        background-color: #EFC935;
    }
</style>

<div class="container-fluid">
    <div class="row justify-content-between align-items-center mb-3">
        <div class="col-auto">
            <h2>Plan Steps</h2>
        </div>
        <div class="col-auto">
            <form method="post">
                <button asp-page="PlanStepTable" asp-page-handler="AddStep" class="btn btn-outline-primary">Add Plan Step</button>
            </form>
        </div>
    </div>
</div>
<table class="table table-bordered table-responsive table-hover">
    <thead>
        <tr>
            <th>Step:</th>
            <th>Step Data:</th>
            <th>Due Date:</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var step in Model.PlanSteps)
            {
                <tr>
                    <td>@step.PlanStepName</td>
                    <td>@step.StepData</td>
                    <td>@step.DueDate</td>
                    <td>
                        <!-- New column for actions -->
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu" data-bs-toggle="dropdown" aria-expanded="false">
                                Actions
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item" asp-area="" asp-page="/RecordCreate/CreatePlanStep" asp-route-ExistingID="@step.PlanStepID">Edit</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-page="/Collabs/PlanStepTable" asp-route-actionType="Delete:@step.PlanStepID:@step.PlanID">Delete</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
