@page
@model MadisonCountySystem.Pages.Main.AnalysisLibModel
@{
    ViewData["Title"] = "Analysis Library";
}
<div style="background-color: #9EA5BF; padding: 30px;">
@{
        if (HttpContext.Session.GetString("username") != null)
        {
            <h2 style="margin-left: 10px; text-align: left; font-weight: bold; font-size: 40px; font-family: 'Open Sans', sans-serif; letter-spacing: 2px; margin-bottom: 5px;">Analysis Library</h2>
            <br />
            <form method="post">
                <div class="row align-items-end mb-3">
                    <!-- Use col-auto for button to take up only the required space -->
                    <div class="col-auto">
                        <button asp-page="AnalysisLib" asp-page-handler="CreateAnalysis" class="btn btn-primary text-black" style=" margin-left: 10px; width: 300px; background-color: #DDBD3F; font-size: 14px; font-family: 'Open Sans', sans-serif; border: none;">Create New Analysis</button>
                    </div>
                    <!-- Use align-items-end to align items vertically at their end -->
                    <div class="col">
                        @*<label for="activeAnalysis" class="form-label">Select an Analysis:</label>*@
                        <select class="form-control" name="selectedAnalysis" style="border: none; width: 300px; font-size: 14px; font-family: 'Open Sans', sans-serif; background-color: #FFFFFF;" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">>
                            <option value="" disabled selected>Select an Analysis</option>
                            @foreach (var Analysis in Model.AnalysisList)
                            {
                                <option value="@Analysis.AnalysisID"> @Analysis.AnalysisName</option>
                            }
                        </select>
                    </div>
                    <div class="col-auto">
                        <!-- Use col-auto for button to take up only the required space -->
                        <button asp-page="AnalysisLib" asp-page-handler="AddCollab" class="btn btn-primary text-black" style=" margin-left: 10px; width: 300px; background-color: #DDBD3F; font-size: 14px; font-family: 'Open Sans', sans-serif; border: none;">Add to Collaboration</button>
                    </div>
                </div>
            </form>
        }
}
</div>

<style type="text/css">
    thead {
        background-color: #EFC935;
    }
</style>

<br />
<div style="margin-top: 70px; margin-left: 30px; margin-right: 30px;">
@*<h3>Analysis Library</h3>*@
<table class="table table-bordered table-responsive table-hover">
    <thead>
        <tr>
            <th>Analysis Name:</th>
            <th>Analysis Type:</th>
            <th>Created Date:</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var analysis in Model.AnalysisList)
            {
                <tr>
                    <td><a asp-area="" asp-page="/Info/AnalysisInfo" asp-route-analysisID="@analysis.AnalysisID">@analysis.AnalysisName</a></td>
                    <td>@analysis.AnalysisType</td>
                    <td>@analysis.AnalysisCreatedDate</td>
                </tr>
            }
        }
    </tbody>
</table>



@{
    <h1>Department 1 Analysis</h1>
    foreach (var Analysis in Model.Dep1Analysis)
    {
        <p>@Analysis.AnalysisName</p>
    }

    <h1>Department 2 Analysis</h1>
    foreach (var Analysis in Model.Dep2Analysis)
    {
        <p>@Analysis.AnalysisName</p>
    }

    <h1>Department 3 Analysis</h1>
    foreach (var Analysis in Model.Dep3Analysis)
    {
        <p>@Analysis.AnalysisName</p>
    }

    <h1>Department 4 Analysis</h1>
    foreach (var Analysis in Model.Dep4Analysis)
    {
        <p>@Analysis.AnalysisName</p>
    }

    <h1>Department 5 Analysis</h1>
    foreach (var Analysis in Model.Dep5Analysis)
    {
        <p>@Analysis.AnalysisName</p>
    }
}
</div>