@page
@model MadisonCountySystem.Pages.Main.DatasetModel
@{
}

@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <div class="alert alert-danger" role="alert">
        @Model.ErrorMessage
    </div>
}

@if (Model.ActionType == "Delete")
{
    <div style="position:fixed; top:0; left:0; width:100%; height:100%; background-color:rgba(0,0,0,0.4);">
        <form method="post">
            <div style="background-color:#fff; margin:10% auto; padding:20px; width:50%; max-width: 500px; border-radius: 10px; box-shadow: 0 4px 8px rgba(0,0,0,0.1);">
                <p>Are you sure you want to delete @Model.SelectedDataset.DatasetName?</p>
                <div class="text-center mt-4">
                    <button asp-page="DatasetLib" asp-page-handler="DeleteRecord" class="btn btn-outline-success mr-2" style="margin-right: 10px;">Yes, Delete</button>
                    <button asp-page="DatasetLib" asp-page-handler="Close" class="btn btn-outline-danger">No, Go Back</button>
                </div>
            </div>
        </form>
    </div>
}

@if (Model.ActionType == "Collab")
{
    <div style="position:fixed; top:0; left:0; width:100%; height:100%; background-color:rgba(0,0,0,0.4);">
        <form method="post">
            <div style="background-color:#fff; margin:10% auto; padding:20px; width:50%; max-width: 500px; border-radius: 10px; box-shadow: 0 4px 8px rgba(0,0,0,0.1);">
                <div class="col">
                    <label for="activeCollab" class="form-label">Collaboration:</label>
                    <select class="form-control" id="activeCollab" name="selectedCollab">
                        @foreach (var collab in Model.ActiveCollabs)
                        {
                            <option value="@collab.CollabID"> @collab.CollabName</option>
                        }
                    </select>
                </div>
                <div class="text-center mt-4">
                    <button asp-page="DatasetLib" asp-page-handler="AddCollab" class="btn btn-outline-success">Add</button>
                    <button asp-page="DatasetLib" asp-page-handler="Close" class="btn btn-outline-danger">Close</button>
                </div>
            </div>
        </form>
    </div>
}

@if (Model.ActionType == "Dept")
{
    <div style="position:fixed; top:0; left:0; width:100%; height:100%; background-color:rgba(0,0,0,0.4);">
        <form method="post">
            <div style="background-color:#fff; margin:10% auto; padding:20px; width:50%; max-width: 500px; border-radius: 10px; box-shadow: 0 4px 8px rgba(0,0,0,0.1);">
                <div class="col">
                    <label for="activeDep" class="form-label">Department:</label>
                    <select class="form-control" id="activeDep" name="selectedDep">
                        @foreach (var dep in Model.ActiveDepts)
                        {
                            <option value="@dep.DepartmentID"> @dep.DepartmentName</option>
                        }
                    </select>
                </div>
                <div class="text-center mt-4">
                    <button asp-page="DatasetLib" asp-page-handler="AddDep" class="btn btn-outline-success">Add</button>
                    <button asp-page="DatasetLib" asp-page-handler="Close" class="btn btn-outline-danger">Close</button>
                </div>
            </div>
        </form>
    </div>
}

<style type="text/css">
    thead {
        background-color: #EFC935;
    }

    th {
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
    }

    tbody {
        text-align: left;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
    }
</style>
<br/>
<div style="background-color: #9EA5BF; padding: 30px;">
    <div class="row align-items-center">
        <div class="col">
            <p style="margin-left: 10px; text-align: left; font-weight: bold; font-size: 40px; font-family: 'Open Sans', sans-serif; letter-spacing: 2px; margin-bottom: 5px;">Dataset Library</p>
            <form method="post">
                <button asp-page="DatasetLib" asp-page-handler="CreateDataset" class="btn btn-primary text-black" style="width: 300px; background-color: #DDBD3F; font-size: 14px; font-family: 'Open Sans', sans-serif; border: none; margin-left: 10px;">Create New Dataset</button>
            </form>
        </div>
    </div>
</div>

<div style="margin-top: 70px; margin-left: 30px; margin-right: 30px;">
    <table class="table table-bordered table-responsive table-hover">
        <thead>
            <tr>
                <th>Dataset Name</th>
                <th>File Type</th>
                <th>Departments</th>
                <th>Created Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var Dataset in Model.DatasetList)
                {
                    <tr>
                        <td><a asp-area="" asp-page="/Info/DatasetInfo" asp-route-dataID="@Dataset.DatasetID">@Dataset.DatasetName</a></td>
                        <td>@Dataset.DatasetType</td>
                        <td>@String.Join(", ", Dataset.Departments)</td>
                        <td>@Dataset.DatasetCreatedDate</td>
                        <td>
                            <!-- New column for actions -->
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" style="background-color: #293A80;" type="button" id="dropdownMenu" data-bs-toggle="dropdown" aria-expanded="false">
                                    Actions
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    <li><a class="dropdown-item" asp-area="" asp-page="/RecordCreate/CreateDataset" asp-route-ExistingID="@Dataset.DatasetID">Edit</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-page="/Main/DatasetLib" asp-route-actionType="Collab:@Dataset.DatasetID">Add to Collab</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-page="/Main/DatasetLib" asp-route-actionType="Dept:@Dataset.DatasetID">Add to Department</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-page="/Main/DatasetLib" asp-route-actionType="Delete:@Dataset.DatasetID">Delete</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

@*
@{
    <h1>Department 1 Dataset</h1>
    foreach (var Data in Model.Dep1Data)
    {
        <p>@Data.DatasetName</p>
    }

    <h1>Department 2 Dataset</h1>
    foreach (var Data in Model.Dep2Data)
    {
        <p>@Data.DatasetName</p>
    }

    <h1>Department 3 Dataset</h1>
    foreach (var Data in Model.Dep3Data)
    {
        <p>@Data.DatasetName</p>
    }

    <h1>Department 4 Dataset</h1>
    foreach (var Data in Model.Dep4Data)
    {
        <p>@Data.DatasetName</p>
    }

    <h1>Department 5 Dataset</h1>
    foreach (var Data in Model.Dep5Data)
    {
        <p>@Data.DatasetName</p>
    }
}
*@
