@page
@model MadisonCountySystem.Pages.Main.KnowledgeLibModel
@{
}
@if (Model.ActionType == "Delete")
{
    <div style="position:fixed; top:0; left:0; width:100%; height:100%; background-color:rgba(0,0,0,0.4);">
        <form method="post">
            <div style="background-color:#fff; margin:10% auto; padding:20px; width:50%; max-width: 500px; border-radius: 10px; box-shadow: 0 4px 8px rgba(0,0,0,0.1);">
                <p>Are you sure you want to delete @Model.SelectedKI.KnowledgeTitle?</p>
                <div class="text-center mt-4">
                    <button asp-page="KnowledgeLib" asp-page-handler="DeleteRecord" class="btn btn-outline-success mr-2" style="margin-right: 10px;">Yes, Delete</button>
                    <button asp-page="KnowledgeLib" asp-page-handler="Close" class="btn btn-outline-danger">No, Go Back</button>
                </div>
            </div>
        </form>
    </div>
}

@if (Model.ActionType == "Collab")
{
    <div style="position:fixed; top:0; left:0; width:100%; height:100%; background-color:rgba(0,0,0,0.4);">
        <form method="post">
            <div style="background-color:#fff; margin:10% auto; padding:20px; width:50%; max-width: 500px; border-radius: 10px; box-shadow: 0 4px 8px rgba(0,0,0,0.1);">
                <div class="col">
                    <label for="activeCollab" class="form-label">Collaboration:</label>
                    <select class="form-control" id="activeCollab" name="selectedCollab">
                        @foreach (var collab in Model.ActiveCollabs)
                        {
                            <option value="@collab.CollabID"> @collab.CollabName</option>
                        }
                    </select>
                </div>
                <div class="text-center mt-4">
                    <button asp-page="KnowledgeLib" asp-page-handler="AddCollab" class="btn btn-outline-success">Add</button>
                    <button asp-page="KnowledgeLib" asp-page-handler="Close" class="btn btn-outline-danger">Close</button>
                </div>
            </div>
        </form>
    </div>
}

@if (Model.ActionType == "Dept")
{
    <div style="position:fixed; top:0; left:0; width:100%; height:100%; background-color:rgba(0,0,0,0.4);">
        <form method="post">
            <div style="background-color:#fff; margin:10% auto; padding:20px; width:50%; max-width: 500px; border-radius: 10px; box-shadow: 0 4px 8px rgba(0,0,0,0.1);">
                <div class="col">
                    <label for="activeDep" class="form-label">Department:</label>
                    <select class="form-control" id="activeDep" name="selectedDep">
                        @foreach (var dep in Model.ActiveDepts)
                        {
                            <option value="@dep.DepartmentID"> @dep.DepartmentName</option>
                        }
                    </select>
                </div>
                <div class="text-center mt-4">
                    <button asp-page="KnowledgeLib" asp-page-handler="AddDep" class="btn btn-outline-success">Add</button>
                    <button asp-page="KnowledgeLib" asp-page-handler="Close" class="btn btn-outline-danger">Close</button>
                </div>
            </div>
        </form>
    </div>
}

<style type="text/css">
    thead {
        background-color: #EFC935;
    }

    th {
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
    }

    tbody{
        text-align: left;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
    }
</style>
<div style="background-color: #9EA5BF; padding: 30px;">
    <form method="post">
        <div class="row align-items-end mb-3">
            <div class="col">
                <br />
                <p style="margin-left: 10px; text-align: left; font-weight: bold; font-size: 40px; font-family: 'Open Sans', sans-serif; letter-spacing: 2px; margin-bottom: 5px;">Knowledge Library</p>
            </div>
            <div class="col-auto">
                <div class="input-group">
                    <input asp-for="Search" placeholder="Search by Item Name or Owner Username" class="form-control" style="width: 300px; text-align: center; font-family: 'Open Sans', sans-serif; font-size: 14px; margin-right: 5px;">
                    <button asp-page="KnowledgeLib" asp-page-handler="NarrowSearch" class="btn btn-primary" style="margin-right: 10px; width: 150px; background-color: #DDBD3F; font-size: 14px; font-family: 'Open Sans', sans-serif; border: none; color: black;">Search</button>
                </div>
            </div>
        </div>
        <div class="row align-items-end mb-3">
            <div class="col">
                <button asp-page="KnowledgeLib" asp-page-handler="CreateKnowledgeItem" class="btn btn-primary text-black" style=" margin-left: 10px; width: 300px; background-color: #DDBD3F; font-size: 14px; font-family: 'Open Sans', sans-serif; border: none;">Create New Knowledge Item</button>
            </div>
            <div class="col-auto">
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle text-black" style="border: none; width: 300px; font-size: 14px; font-family: 'Open Sans', sans-serif; background-color: #FFFFFF;" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                        Filter by Department
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        @foreach (var dep in Model.ActiveDepts)
                        {
                            <li>
                                <button class="dropdown-item" type="submit" asp-page="KnowledgeLib" asp-page-handler="FilterDep" name="selectedDep" value="@dep.DepartmentName" style="margin-right: 10px; background-color: #FFFFFF; color: #000000; font-size: 14px; font-family: 'Open Sans', sans-serif; border: none;">
                                    @dep.DepartmentName
                                </button>
                            </li>
                        }
                    </ul>
                    <button asp-page="KnowledgeLib" asp-page-handler="Close" class="btn btn-primary" style="margin-right: 10px; width: 150px; background-color: #DDBD3F; font-size: 14px; font-family: 'Open Sans', sans-serif; border: none; color: black;">Clear Filter/Search</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div style="margin-top: 70px; margin-left: 30px; margin-right: 30px;">
    <table class="table table-bordered table-responsive table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Subject</th>
                <th>Category</th>
                <th>Departments</th>
                <th>Date</th>
                <th>Owner</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var KnowledgeItem in Model.KnowledgeItemList)
                {
                    <tr>
                        <td><a asp-area="" asp-page="/Info/KnowledgeInfo" asp-route-kiID="@KnowledgeItem.KnowledgeID">@KnowledgeItem.KnowledgeTitle</a></td>
                        <td>@KnowledgeItem.KnowledgeSubject</td>
                        <td>@KnowledgeItem.KnowledgeCategory</td>
                        <td>@String.Join(", ", KnowledgeItem.Departments)</td>
                        <td>@KnowledgeItem.KnowledgePostDate</td>
                        <td>@KnowledgeItem.OwnerName</td>
                        <td>
                            <!-- New column for actions -->
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" style="background-color: #293A80;" type="button" id="dropdownMenu" data-bs-toggle="dropdown" aria-expanded="false">
                                    Actions
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    <li><a class="dropdown-item" asp-area="" asp-page="/RecordCreate/CreateKnowledge" asp-route-ExistingID="@KnowledgeItem.KnowledgeID">Edit</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-page="/Main/KnowledgeLib" asp-route-actionType="Collab:@KnowledgeItem.KnowledgeID">Add to Collab</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-page="/Main/KnowledgeLib" asp-route-actionType="Dept:@KnowledgeItem.KnowledgeID">Add to Department</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-page="/Main/KnowledgeLib" asp-route-actionType="Delete:@KnowledgeItem.KnowledgeID">Delete</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

@*
@{
    <h1>Department 1 Knowledge</h1>
    foreach (var KI in Model.Dep1Knowledge)
    {
        <p>@KI.KnowledgeTitle</p>
    }

    <h1>Department 2 Knowledge</h1>
    foreach (var KI in Model.Dep2Knowledge)
    {
        <p>@KI.KnowledgeTitle</p>
    }

    <h1>Department 3 Knowledge</h1>
    foreach (var KI in Model.Dep3Knowledge)
    {
        <p>@KI.KnowledgeTitle</p>
    }

    <h1>Department 4 Knowledge</h1>
    foreach (var KI in Model.Dep4Knowledge)
    {
        <p>@KI.KnowledgeTitle</p>
    }

    <h1>Department 5 Knowledge</h1>
    foreach (var KI in Model.Dep5Knowledge)
    {
        <p>@KI.KnowledgeTitle</p>
    }
}
*@