@page
@model MadisonCountySystem.Pages.Main.KnowledgeLibModel
@{
    ViewData["Title"] = "Knowledge Item Library";
}
@if (Model.ActionType == "Delete")
{
    <div style="position:fixed; top:0; left:0; width:100%; height:100%; background-color:rgba(0,0,0,0.4);">
        <form method="post">
            <div style="background-color:#fff; margin:10% auto; padding:20px; width:50%; max-width: 500px; border-radius: 10px; box-shadow: 0 4px 8px rgba(0,0,0,0.1);">
                <p>Are you sure you want to delete @Model.SelectedKI.KnowledgeTitle?</p>
                <div class="text-center mt-4">
                    <button asp-page="KnowledgeLib" asp-page-handler="DeleteRecord" class="btn btn-outline-success mr-2" style="margin-right: 10px;">Yes, Delete</button>
                    <button asp-page="KnowledgeLib" asp-page-handler="Close" class="btn btn-outline-danger">No, Go Back</button>
                </div>
            </div>
        </form>
    </div>
}

@if (Model.ActionType == "Collab")
{
    <div style="position:fixed; top:0; left:0; width:100%; height:100%; background-color:rgba(0,0,0,0.4);">
        <form method="post">
            <div style="background-color:#fff; margin:10% auto; padding:20px; width:50%; max-width: 500px; border-radius: 10px; box-shadow: 0 4px 8px rgba(0,0,0,0.1);">
                <div class="col">
                    <label for="activeCollab" class="form-label">Collaboration:</label>
                    <select class="form-control" id="activeCollab" name="selectedCollab">
                        @foreach (var collab in Model.ActiveCollabs)
                        {
                            <option value="@collab.CollabID"> @collab.CollabName</option>
                        }
                    </select>
                </div>
                <div class="text-center mt-4">
                    <button asp-page="KnowledgeLib" asp-page-handler="AddCollab" class="btn btn-outline-success">Add</button>
                    <button asp-page="KnowledgeLib" asp-page-handler="Close" class="btn btn-outline-danger">Close</button>
                </div>
            </div>
        </form>
    </div>
}


<style type="text/css">
    thead {
        background-color: #EFC935;
    }
</style>
<br/>

<form method="post">
    <div class="row align-items-end">
        <div class="col">
            <h2>Knowledge Item Management</h2>
        </div>
        <div class="col-auto">
            <button asp-page="KnowledgeLib" asp-page-handler="CreateKnowledgeItem" class="btn btn-outline-primary">Create New Knowledge Item</button>
        </div>
    </div>
</form>

<br />
<form method="post">
    <div class="row align-items-end">
        <div class="col">
            <input asp-for="Search" placeholder="Search Knowledge Item Name, Owner Username..." class="form-control" />
            <span asp-validation-for="Search" class="text-danger"></span>
        </div>
        <div class="col-auto">
            <button asp-page="KnowledgeLib" asp-page-handler="NarrowSearch" class="btn btn-outline-success">Search</button>
        </div>
    </div>
</form>

<br />

<h3>Knowledge Item Library</h3>

<table class="table table-bordered table-responsive table-hover">
    <thead>
        <tr>
            <th>Knowlege Item Name:</th>
            <th>Knowlege Item Subject:</th>
            <th>Knowlege Item Category:</th>
            <th>Date Created:</th>
            <th>Owner:</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var KnowledgeItem in Model.KnowledgeItemList)
            {
                <tr>
                    <td><a asp-area="" asp-page="/Info/KnowledgeInfo" asp-route-kiID="@KnowledgeItem.KnowledgeID">@KnowledgeItem.KnowledgeTitle</a></td>
                    <td>@KnowledgeItem.KnowledgeSubject</td>
                    <td>@KnowledgeItem.KnowledgeCategory</td>
                    <td>@KnowledgeItem.KnowledgePostDate</td>
                    <td>@KnowledgeItem.OwnerName</td>
                    <td>
                        <!-- New column for actions -->
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu" data-bs-toggle="dropdown" aria-expanded="false">
                                Actions
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item" asp-area="" asp-page="/RecordCreate/CreateKnowledge" asp-route-ExistingID="@KnowledgeItem.KnowledgeID">Edit</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-page="/Main/KnowledgeLib" asp-route-actionType="Collab:@KnowledgeItem.KnowledgeID">Collaborate</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-page="/Main/KnowledgeLib" asp-route-actionType="Delete:@KnowledgeItem.KnowledgeID">Delete</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
