@page
@model MadisonCountySystem.Pages.Main.ReportLibModel
@{
    ViewData["Title"] = "Report Library";
}

<br />
<h3>Report Library</h3>
<table class="table table-bordered table-responsive table-hover">
    <thead class="table-light">
        <tr>
            <th style="background-color: #e3e5fd;">Report Key Item:</th>
            <th style="background-color: #e3e5fd;">Collaboration Name:</th>
            <th style="background-color: #e3e5fd;">Report Key Type:</th>
            <th style="background-color: #e3e5fd;">Date Created:</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var report in Model.CollabReports2)
            {
                <tr>
                    <td><a asp-area="" asp-page="/Info/ReportInfo" asp-route-reportID="@report.CollabReportID">@report.KeyName</a></td>
                    <td>@report.CollabName</td>
                    <td>@report.KeyType</td>
                    <td>@report.ReportCreatedDate</td>
                </tr>
            }
        }
    </tbody>
</table>