@page
@model MadisonCountySystem.Pages.Main.ReportLibModel
@{
    ViewData["Title"] = "Report Library";
}

<style type="text/css">
    body {
        font-family: 'Open Sans', sans-serif;
    }
    h1 {
        font-weight: bold;
        font-size: 30px;
    }
    thead {
        background-color: #EFC935;
    }
    #welcome {
        text-align: center;
        background-color: #EFC935;
        color: #293A80;
        text-align: center;
        padding: 20px;
    }
    
</style>

<body>
    <section id="welcome">
        <h1>Report Library</h1>
        <p>This is a shared knowledge management system to easily access information.</p>
    </section>
    <br/>

    @*
    <form method="post">
        <div class="row align-items-end">
            <div class="col">
                <input asp-for="Search" placeholder="Search Report Name, Department..." class="form-control" />
                <span asp-validation-for="Search" class="text-danger"></span>
            </div>
            <div class="col-auto">
                <button asp-page="Index" asp-page-handler="NarrowSearch" class="btn btn-outline-success">Search</button>
            </div>
        </div>
    </form>
    *@

    <br />

    <table class="table table-bordered table-responsive table-hover" style="margin: auto;">
            <thead>
            <tr>
                <th>Report Key Item</th>
                <th>Collaboration Name</th>
                <th>Report Key Type</th>
                <th>Date Created</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var report in Model.CollabReports2)
                {
                    <tr>
                        <td><a asp-area="" asp-page="/Info/ReportInfo" asp-route-reportID="@report.CollabReportID">@report.KeyName</a></td>
                        <td>@report.CollabName</td>
                        <td>@report.KeyType</td>
                        <td>@report.ReportCreatedDate</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</body>

