@page
@model MadisonCountySystem.Pages.Main.UserHomeModel
@{
    ViewData["Title"] = "Welcome";
}

<style>
    img {
        border-radius: 50%;
        object-fit: cover;
    }

    #userCard {
        border-radius: 15%;
        background-color: #9EA5BF;
        color: #000;
        width: 60%;
        padding: 20px;
        margin: 10px;
        box-shadow: 2px 2px 5px black;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    #department {
        border-radius: 15%;
        background-color: #9EA5BF;
        color: #000;
        width: 30%;
        padding: 20px;
        margin-left: 80px;
        box-shadow: 2px 2px 5px black;
    }

    #chgMessage {
        visibility: hidden;
        font-style: italic;
    }

    thead {
        background-color: #EFC935;
    }

    h1 {
        background-color: #EFC935;
        padding: 20px;
    }

    .card {
        margin-right: 57px;
        margin-bottom: 50px;
    }
</style>

<script type="text/javascript">
    function chgPhoto() {
        document.getElementById("chgMessage").style.visibility = "initial";
    }

    function revert() {
        document.getElementById("chgMessage").style.visibility = "hidden";
    }
</script>

@*<h1 class="text-center mt-5">Welcome, @Model.LoggedUser.Username</h1>*@
<br />

<div class="row">
    <section id="userCard" class="text-center box-shadow">
        <div id="profilePic">
            @{
                if (Model.PhotoDir == "~/images/blankuser.jpg")
                {
                    <a asp-page="/RecordCreate/UserPhotoEditor" onmouseover="chgPhoto();" onmouseout="revert();"><img src=@Url.Content(Model.PhotoDir) width="175" height="175" /></a>
                }
                else
                {
                    <a asp-page="/RecordCreate/UserPhotoEditor" onmouseover="chgPhoto();" onmouseout="revert();"><img src="@Model.PhotoDir" width="175" height="175" /></a>
                }
            }
            <p id="chgMessage">Click To Change Profile Picture</p>
        </div>

        <p>@Model.LoggedUser.LastName, @Model.LoggedUser.FirstName</p>

        <div id="contactInfo">
            <h3>User Info</h3>
            <p>@Model.LoggedUser.Email</p>
            <p>@Model.LoggedUser.Phone</p>
            <p>Permission Level: @Model.LoggedUser.UserType</p>
        </div>
    </section>

    <section id="department" class="text-center box-shadow">
        <h3>Your Departments</h3>
        @foreach (var dep in Model.Departments)
        {
            <p>@dep.DepartmentName</p>
        }
    </section>
</div>

<br />
<br />

@*
    <div class="col-lg-4">
        <table class="table table-bordered table-responsive table-hover">
            <thead>
                <tr>
                    <th>Collaboration Quick Links</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var collab in Model.Collabs)
                    {
                        <tr>
                            <td><a asp-area="" asp-page="/Collabs/Index" asp-route-collabID="@collab.CollabID">@collab.CollabName</a></td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    *@

<div class="row">
    <h3>My Collaborations</h3>
    <br />
    <br />
    <div id="collabsContainer" class="col-md-12 d-flex flex-wrap">
        @foreach (var collab in Model.Collabs)
        {
            <div class="card">
                <img src="~/images/Madison County.png" width="200" height="200">
                <div class="card-body">
                    <h5 class="card-title">@collab.CollabName</h5>
                    <a href="@Url.Page("/Collabs/Index", new { collabID = collab.CollabID })" class="btn btn-primary">View Details</a>
                </div>
            </div>
        }
    </div>
</div>