@page
@model MadisonCountySystem.Pages.Main.UserHomeModel
@{
}

<style>
    img {
        border-radius: 50%;
        object-fit: cover;
    }

    #userCard {
        border-radius: 20%;
        background-color: #004AAD;
        color: #fff;
        width: 80%;
        padding: 10px;
        box-shadow: 2px 2px 5px black;    
    }

    #chgMessage {
        visibility: hidden;
        font-style: italic;
    }
</style>

<script type="text/javascript">
    function chgPhoto() {
        document.getElementById("chgMessage").style.visibility = "initial";
    }

    function revert() {
        document.getElementById("chgMessage").style.visibility = "hidden";
    }
</script>

<h1 class="text-center mt-5">Welcome @Model.LoggedUser.Username</h1>

<div class="col-lg-4">
    <div id="userCard" class="text-center box-shadow">
        <p id="chgMessage">Click To Change Profile Picture</p>
        @{
            if (Model.PhotoDir == "~/images/blankuser.jpg")
            {
                        <a asp-page="/RecordCreate/UserPhotoEditor" onmouseover="chgPhoto();" onmouseout="revert();"><img src=@Url.Content(Model.PhotoDir) width="175" height="175" /></a>
            } else
            {
                        <a asp-page="/RecordCreate/UserPhotoEditor" onmouseover="chgPhoto();" onmouseout="revert();"><img src="@Model.PhotoDir" width="175" height="175" /></a>
            }
        }
        </br>
        <p>@Model.LoggedUser.LastName, @Model.LoggedUser.FirstName</p>
        <p>@Model.LoggedUser.Email</p>
        <p>@Model.LoggedUser.Phone</p>
        <p>Permission Level: @Model.LoggedUser.UserType</p>
    </div>

</div>
