@page
@model MadisonCountySystem.Pages.Info.ReportInfoModel
@{
    ViewData["Title"] = Model.CollabName + " Report";
}

<div class="container mt-5">
    <h1 class="text-center mb-4">@Model.CollabName Report</h1>
    <h2 class="text-center mb-4">Analysis Type: <span class="fw-normal">@Model.KeyItem.KeyType</span></h2>
    <h5 class="text-center mb-4">Date: <span class="fw-normal">@Model.KeyItem.ReportCreatedDate</span></h5>
    <hr />
</div>
<br />

@if (Model.KeyItem.KeyType == "Plan")
{
    <h2 class="text-center mb-4">@Model.PlanName Plan</h2>
    <table class="table table-bordered table-responsive table-hover">
        <thead>
            <tr>
                <th style="background-color: #e3f2fd;">Step:</th>
                <th style="background-color: #e3f2fd;">Step Data:</th>
                <th style="background-color: #e3f2fd;">Due Date:</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var step in Model.PlanSteps)
                {
                    <tr>
                        <td>@step.PlanStepName</td>
                        <td>@step.StepData</td>
                        <td>@step.DueDate</td>
                    </tr>
                }
            }
        </tbody>
    </table>
}
else
{
    if (Model.KnowledgeTypeID == 1)
    {
        <div class="text-center mb-4">
            <h2> @Model.KeyKI.KnowledgeTitle</h2>
            <h3><strong>Subject:</strong> <span class="fw-normal">@Model.KeyKI.KnowledgeSubject</span></h3>
            <h4><strong>Category:</strong> <span class="fw-normal">@Model.KeyKI.KnowledgeCategory</span></h4>
        </div>
    }
    else if (Model.KnowledgeTypeID == 2)
    {
        <div class="text-center mb-4">
            <h2> @Model.KeySWOT.KnowledgeTitle</h2>
            <h3><strong>Subject:</strong> <span class="fw-normal">@Model.KeySWOT.KnowledgeSubject</span></h3>
            <h4><strong>Category:</strong> <span class="fw-normal">@Model.KeySWOT.KnowledgeCategory</span></h4>
        </div>

        <div class="row row-cols-1 row-cols-md-2 g-4 justify-content-center">
            <div class="col">
                <div class="card h-100">
                    <div class="card-body text-center">
                        <h5 class="card-title">Strengths</h5>
                        <p class="card-text">@Model.KeySWOT.Strengths</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card h-100">
                    <div class="card-body text-center">
                        <h5 class="card-title">Weaknesses</h5>
                        <p class="card-text">@Model.KeySWOT.Weaknesses</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card h-100">
                    <div class="card-body text-center">
                        <h5 class="card-title">Opportunities</h5>
                        <p class="card-text">@Model.KeySWOT.Opportunities</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card h-100">
                    <div class="card-body text-center">
                        <h5 class="card-title">Threats</h5>
                        <p class="card-text">@Model.KeySWOT.Threats</p>
                    </div>
                </div>
            </div>

        </div>
    } else if (Model.KnowledgeTypeID == 3)
    {
        <div class="text-center mb-4">
            <h2> Model.KeyPEST.KnowledgeTitle</h2>
            <h3><strong>Subject:</strong> <span class="fw-normal">Model.KeyPEST.KnowledgeSubject</span></h3>
            <h4><strong>Category:</strong> <span class="fw-normal">Model.KeyPEST.KnowledgeCategory</span></h4>
        </div>


        <div class="row row-cols-1 row-cols-md-2 g-4 justify-content-center">
            <div class="col">
                <div class="card h-100">
                    <div class="card-body text-center">
                        <h5 class="card-title">Political</h5>
                        <p class="card-text">Model.KeyPEST.Political</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card h-100">
                    <div class="card-body text-center">
                        <h5 class="card-title">Economic</h5>
                        <p class="card-text">Model.KeyPEST.Economic</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card h-100">
                    <div class="card-body text-center">
                        <h5 class="card-title">Social</h5>
                        <p class="card-text">Model.KeyPEST.Social</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card h-100">
                    <div class="card-body text-center">
                        <h5 class="card-title">Threats</h5>
                        <p class="card-text">Model.KeyPEST.Technological</p>
                    </div>
                </div>
            </div>

        </div>
    }

}
<br />
<div class="container mt-5">
    <h1 class="text-center mb-4">@Model.CollabName Research:</h1>
    <hr />
</div>
@{
    foreach (var KnowledgeItem in Model.ResearchStandard)
    {
        <div class="text-center mb-4">
            <h2>@KnowledgeItem.KnowledgeTitle</h2>
            <h3><strong>Subject:</strong> <span class="fw-normal">@KnowledgeItem.KnowledgeSubject</span></h3>
            <h4><strong>Category:</strong> <span class="fw-normal">@KnowledgeItem.KnowledgeCategory</span></h4>
        </div>

        <div class="row mt-4">
            <div class="col-12">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Knowledge Information</h5>
                        <p class="card-text">@KnowledgeItem.KnowledgeInformation</p>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <hr />
        <br />
        <br />
    }

    foreach (var SWOT in Model.ResearchSWOT)
    {
        <div class="text-center mb-4">
            <h2> @SWOT.KnowledgeTitle</h2>
            <h3><strong>Subject:</strong> <span class="fw-normal">@SWOT.KnowledgeSubject</span></h3>
            <h4><strong>Category:</strong> <span class="fw-normal">@SWOT.KnowledgeCategory</span></h4>
        </div>


        <div class="row row-cols-1 row-cols-md-2 g-4 justify-content-center">
            <div class="col">
                <div class="card h-100">
                    <div class="card-body text-center">
                        <h5 class="card-title">Strengths</h5>
                        <p class="card-text">@SWOT.Strengths</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card h-100">
                    <div class="card-body text-center">
                        <h5 class="card-title">Weaknesses</h5>
                        <p class="card-text">@SWOT.Weaknesses</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card h-100">
                    <div class="card-body text-center">
                        <h5 class="card-title">Opportunities</h5>
                        <p class="card-text">@SWOT.Opportunities</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card h-100">
                    <div class="card-body text-center">
                        <h5 class="card-title">Threats</h5>
                        <p class="card-text">@SWOT.Threats</p>
                    </div>
                </div>
            </div>

        </div>

        <div class="row mt-4">
            <div class="col-12">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Knowledge Information</h5>
                        <p class="card-text">@SWOT.KnowledgeInformation</p>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <hr />
        <br />
        <br />
    }

    foreach (var PEST in Model.ResearchPEST)
    {
        <div class="text-center mb-4">
            <h2> @PEST.KnowledgeTitle</h2>
            <h3><strong>Subject:</strong> <span class="fw-normal">@PEST.KnowledgeSubject</span></h3>
            <h4><strong>Category:</strong> <span class="fw-normal">@PEST.KnowledgeCategory</span></h4>
        </div>


        <div class="row row-cols-1 row-cols-md-2 g-4 justify-content-center">
            <div class="col">
                <div class="card h-100">
                    <div class="card-body text-center">
                        <h5 class="card-title">Political</h5>
                        <p class="card-text">@PEST.Political</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card h-100">
                    <div class="card-body text-center">
                        <h5 class="card-title">Economic</h5>
                        <p class="card-text">@PEST.Economic</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card h-100">
                    <div class="card-body text-center">
                        <h5 class="card-title">Social</h5>
                        <p class="card-text">@PEST.Social</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card h-100">
                    <div class="card-body text-center">
                        <h5 class="card-title">Threats</h5>
                        <p class="card-text">@PEST.Technological</p>
                    </div>
                </div>
            </div>

        </div>

        <div class="row mt-4">
            <div class="col-12">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Knowledge Information</h5>
                        <p class="card-text">@PEST.KnowledgeInformation</p>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <hr />
        <br />
        <br />
    }
}
    <div>
        <h1 class="text-center mb-4">@Model.CollabName Users:</h1>
        <table class="table table-bordered table-responsive table-hover">
            <thead class="table-light">
                <tr>
                    <th style="background-color: #e3f2fd;">Username:</th>
                    <th style="background-color: #e3f2fd;">Full Name:</th>
                    <th style="background-color: #e3f2fd;">Email:</th>
                    <th style="background-color: #e3f2fd;">Phone Number:</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var user in Model.UserList)
                    {
                        <tr>
                            <td>@user.Username</td>
                            <td>@user.FirstName @user.LastName</td>
                            <td>@user.Email</td>
                            <td>@user.Phone</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
}
