@page
@model MadisonCountySystem.Pages.RecordCreate.CreateAnalysisModel
@{
    ViewData["Title"] = "Create an Analysis";
}
<div class="container mt-5">
    <h2 class="text-center mb-4">Create an Analysis</h2>
    <form method="post">
        <div class="row justify-content-md-center">
            <div class="col-md-6">
                <div class="mb-3">
                    <label asp-for="AnalysisName" class="form-label">Name Your Analysis:</label>
                    <input asp-for="AnalysisName" placeholder="Enter Analysis Name:" class="form-control" />
                    <span asp-validation-for="AnalysisName" class="text-danger"></span>
                </div>
                <div class="row mb-3">
                    <div class="col">
                    <label asp-for="AnalysisType" class="form-label">Analysis Type:</label>
                    <select class="form-control" asp-for="AnalysisType">
                        <option>Prediction</option>
                    </select>
                    </div>
                    <div class="col">
                        <label asp-for="DataType" class="form-label">Type of Data:</label>
                        <select class="form-control" asp-for="DataType">
                            <option>Budget</option>
                            <option>Spending</option>
                        </select>
                    </div>
                </div>
                
                <div class="mb-3">
                    <label asp-for="activeDataset" class="form-label">Using the Dataset:</label>
                    <select class="form-control" id="activeDataset" name="selectedDataset" asp-for="activeDataset">
                        @foreach (var dataset in Model.DatasetList)
                        {
                            <option value="@dataset.DatasetID"> @dataset.DatasetName</option>
                        }
                    </select>
                </div>
                <div class="row mb-3">
                    <div class="col">
                    <label asp-for="PredictYear" class="form-label">Predicting in Year:</label>
                    <select class="form-control" asp-for="PredictYear">
                        @for (int i = DateTime.Now.Year; i <= DateTime.Now.Year+5; i++)
                        {
                            <option>@i</option>
                        }
                    </select>
                    </div>
                    <div class="col">
                        <label asp-for="InflationRate" class="form-label">Predicted Inflation Rate (0-100%):</label>
                        <div class="input-group">
                            <input type="number" asp-for="InflationRate" min="0" max="100" class="form-control" />
                            <span class="input-group-text">%</span>
                        </div>

                    </div>
                </div>

                <div class="mb-3">
                    <label asp-for="activeKI" class="form-label">Related Knowledge Item:</label>
                    <select class="form-control" id="activeKI" name="selectedKI" asp-for="activeKI">
                        @foreach (var knowledge in Model.KnowledgeItemList)
                        {
                            <option value="@knowledge.KnowledgeID"> @knowledge.KnowledgeTitle</option>
                        }
                    </select>
                </div>
                <div class="text-center">
                    <button style="width: 30%" asp-page="CreateAnalysis" asp-page-handler="PopulateHandler" class="btn btn-outline-primary btn-lg" formnovalidate>Populate</button>
                    <button style="width: 33%" asp-page="CreateAnalysis" asp-page-handler="AddDB" class="btn btn-outline-success btn-lg">Create</button>
                    <button style="width: 30%" asp-page="CreateAnalysis" asp-page-handler="Clear" class="btn btn-outline-danger btn-lg" formnovalidate>Clear</button>
                </div>
            </div>
        </div>
    </form>
</div>
